.wetherBg {
  background: url("https://images.unsplash.com/photo-1642682969825-09c60a60e989?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2400&q=160");
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.bttn {
  border-radius: 15px;
}
.heading {
  color: white;
  font-weight: 700;
}
.wetherResultBox {
  margin: auto;
  width: 450px;
  height: 350px;
}
.weathorIcon {
  margin-top: 2 rem;
  width: 100px;
  height: 100px;
  outline: none;
}
.weathorCity {
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 500;
}
.weathorTemp {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
}
.description {
  margin-left: 10px;
  text-transform: capitalize;
}
.weatherMain {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
}
